<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Guesser</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
    <h1>Agify Age Guesser - Agify is used for predicting the age of a person given their name</h1>
    <hr>
    <div class="content">
        <form method="POST">
            <p>
                <b><label for="name">Enter Name</label></b>
            </p>
            <p>
            <input type="text" name="name" placeholder="Enter a name only, no middle or last names etc...">
            </p>
            <p>
            </p>
            <button type="submit">Submit</button>
        </form>
		<hr>
		{% for name in namesGuessed %}
		<div class="name">
	    <!--Fetching a name-->
		<p>  {{ name['name'] }}, <i>
			Age: ({{ name['age'] }})
        </i>
		</p>
		<!-- Deleting a name-->
		<form method="POST"
			  action="{{ url_for('delete', id=name['_id']) }}">
		<input
			  type="submit"
			  value="Delete Name"
			  onclick="return
			  confirm('Are you sure you want to delete this name?')"/>
		</form>
		</div>
		{% endfor %}
    </div>
</body>
</html>
