<main class="main">
  <div class="content">
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="left-side">
      <h1>Video Game Store - Demo</h1>
      <div class="info">
        CU Boulder Video Game Haven is your premier online video game store, featuring the latest releases, timeless
        classics,
        and a wide range of consoles and accessories. Enjoy expert recommendations, exclusive deals, and a vibrant
        community of gamers.
        Shop now and experience the ultimate in online gaming convenience. - Chris Thillet
      </div>
      <ul>

        <div style="min-height: 150px; max-height: 150px">
          @if (!itemsPaid) {
            @for (item of items; track item.name) {
              <li style="color: white">
                {{ item.name }}: ${{ item.price }}
                <button (click)="removeItem(item)"
                        [ngStyle]="{'background': !itemExists(item) ? '#FF5733' : '#e81957' }" class="row">Remove
                </button>
                }
          } @else {
            <div class="thank-you-container">
              <h2 style="background: #49b3f5; ">Thank You!</h2>
              <p>Your order has been received and is being processed.</p>
              <p>We appreciate your business and hope you enjoy your purchase!</p>
            </div>
          }
        </div>

      </ul>
      <div class="total">
        Total Price: <span> ${{ totalPrice() }}</span>
      </div>

      <button style="color: #efefef; width: 70px; background: #c5b355;" (click)="resetItems()">Reset</button>
      <span style="margin-left: 15px;"><button style="color: #eeeeee; background: #49b3f5; width: 70px;"
                                               (click)="payItems()">Pay</button></span>
    </div>

    <div class="right-side">
      <!--      TODO - Add content-->
    </div>
  </div>
</main>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

