<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav" [class.closed]="!isExpanded">
    @if (isExpanded) {
      <img
        style="padding-left: 10px; margin-top: -10px;" ngSrc="cuLogo.png"
        alt="ag-app-ui" height="60" width="160" priority>
    } @else {
      <img
        style="margin-left: 14px; margin-top: 7px;"
        ngSrc="favicon.ico"
        alt="ag-app-ui" height="27" width="27" priority>
    }

    <app-layout-container
      (toggleMenu)="toggleMenu()"
      [isExpanded]="isExpanded">
    </app-layout-container>

  </mat-sidenav>
  <mat-sidenav-content class="content-margin" [class.closed]="!isExpanded" [class.opened]="isExpanded">
    <mat-toolbar class="ag-app-toolbar" [class.closed]="!isExpanded" [class.opened]="isExpanded">
      <mat-icon style="color:grey; cursor: pointer;" (click)="toggleMenu()">
        {{ isExpanded ? "keyboard_backspace" : "dehaze" }}
      </mat-icon>
      <span style="margin-left: 20px; color: white">Game Haven Store</span>
    </mat-toolbar>
    <div class="content-container routers-margin" [class.closed]="!isExpanded" [class.opened]="isExpanded">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
