<div class="info">
  The goal of this project is to build a supervised machine learning model that predicts a satellite's mission type
  (e.g., Earth Observation, Communications, Navigation, Science/Technology, Military/Other) from its orbital characteristics and basic spacecraft metadata.

  Given a set of satellites with known missions and orbital parameters (e.g., perigee, apogee, eccentricity, inclination, mean motion, launch year, operator country),
  I frame this as a multiclass classification problem. The model learns relationships
  between orbital regimes and mission roles and can then be used to infer mission type for new or unlabeled satellites.
</div>
