<div class="info">
  YoRHa No.2 Type B or simply 2B, is a pivotal character in the “NieR: Automata” universe. Created by the in-game organization YoRHa,
  2B is an android designed for combat and tactical missions against machine lifeforms. The YoRHa initiative itself was established as a desperate measure by humanity to reclaim Earth from the mechanical invaders. Equipped with advanced weaponry and combat capabilities, 2B’s role extends beyond mere battlefield engagements, as she grapples with complex themes of consciousness,
  identity, and existentialism throughout her journey.
  Her history is marked by her partnership with another YoRHa android, 9S, with whom she forms a complicated yet deeply significant relationship. Their missions reveal profound truths about their existence and the reality of the war they are fighting, challenging their understanding of loyalty and purpose.
  Nier YoRHa’s history is not just a tale of warfare but also a poignant exploration of what it means to be alive, making her a beloved character in modern gaming narratives.
</div>
